// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body { font-size: 12pt }

.contentWrapper{
	margin-top: 20px;
	padding: 20px 25px 20px 25px;
	height: 510px;
	border: 0px solid #d4e6ee;
	background-color: #fff;
}


.table_head{
	padding: 20px 25px 20px 25px;
	margin-top: 20px;
}

.table table-bordered{
	width: 400px;
	padding: 20px 25px 20px 25px;
}
